<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
    .card {   width: 262px; height: 150px; margin: 10px; padding: 20px; border: 1px solid black; border-radius: 10px; cursor: default; }
    </style>
  </head>
  <body>
    <h1><%= @user.first_name %> <%= @user.last_name %> carded you!</h1></

      <% @user.cards.each do |card| %>

        <div class="card" style="background-image: url('<%= card.background_image %>'); background-size: 100%;">
          <div class="personal_info_list_wrapper">
            <div class="actual_list">
              <ul>
                <h4>Email Address</h4>
                <li><%= card.email %></li>
                <h4>Phone Number</h4>
                <li><%= card.phone_number %></li>
                <h4>Organization</h4>
                <li><%= card.organization %></li>
                <h4>Position</h4>
                <li><%= card.position %></li>
              </ul>
            </div>
          </div>
          <div class="card-profile-pic" style="background-image: url('<%= card.profile_picture %>'); background-size: 100% 100%; height: 90px; width: 75px"></div>
          </div>
    <% end %>
    </div>
  

    <!-- 
    BUSINESS CARD GOES HERE
    AS A LINK CLOWN HAT @url END CLOWN HAT
    HTML AND CSS FOR ACTUAL CARD HERE 
    PICTURES CAN BE ATTACHED BY TYPING
    IN RUBY CLOWN HATS image_tab attachments['image.jpg'].url END CLOWN HAT
    -->
    <a href= "http://localhost:3000/invite?=<%= @token.secret_key %>">Add Card Here</a>  
  </body>

</html>